*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.available button{
    border: none;
    margin: 0;
    padding: 0;

}
.calendar{
    background-color: white;
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 10%;
    height: 545px;
    margin: auto;
    width: 40%;
}
.container{
    height: 545px;
    margin: auto;
    margin-top: 5%;
    width: 80%;
}
.currentDay{
    background-color: rgba(217, 153, 253, 0.87)!important;
}
.date{
    color: rgba(110, 107, 107, 0.89);
    display: inline-block;
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 50px;
    margin: auto;
    margin-top: 3.5%;
    width: 78%;
}
.date h4{
    text-align: center;
}
.day{
    float: left;
    margin-left: 4%;
    padding-right: 2%;
    width: 10%;
}
.eachDay {
    border-radius: 10%;  
    display: inline-block;    
    height: 40px;
    width: 13.459%;
}
.eachDay button{
    background-color: rgba(234, 248, 255, 0.911);
    border-radius: 10%;
    height: 38px;
    vertical-align: top;
    width: 100%;
}
.eachDay button:hover{
    background-color: rgb(95, 151, 255)!important;
    cursor: pointer;
    transition: background-color 0.3s;
}
.eachDay p{
    color: rgba(150, 150, 150, 0.856);
    display: inline-block;
    font-size:xx-small;
    padding-bottom: 30%;
    padding-right: 65%;
    position: relative;
    text-align: start;
}
.grid{
    margin: auto;
    width: 95%;
}
.highlight{
    background-color: greenyellow;
}
.left-nav button{
    background-color: white;
    background-image: url('/assets/images/left.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    display: inline-block;
    float: left;
    height: 28px;
    margin-top: 3%;
    margin-left: 2% ;
    margin-right: 2%;
    outline: none;
    width: 28px;
}
.left-nav button:hover{
    background-color: rgba(171, 220, 245, 0.911);
    border: rgba(0, 170, 255, 0.911) 2px dashed;
    border-radius: 15%;
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: .5s; 
}
.nav-bar{
    border-top: black solid 2px;
    height: 60px;
    margin: auto;
    width: 100%;
}
.nav-bar h2{
    color: rgba(110, 107, 107, 0.89);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
.prev, .next{
    border: none;
}
.prev button, .next button{
    background-color: rgba(212, 211, 211, 0.863);
    border: none;
    margin: 0;
    opacity: 0.3;
    padding: 0;
}
.right-nav button{
    background-color: white;
    background-image: url("/assets/images/right.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    display: inline-block;
    float: left;
    height: 28px;
    margin-top: 3%;
    margin-left: 2%;
    outline: none; 
    width: 28px;
}
.right-nav button:hover{
    background-color: rgba(171, 220, 245, 0.911);
    border: rgba(0, 170, 255, 0.911) 2px dashed;
    border-radius: 15%;
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: .5s;
}
.textfield{
    border-radius: 10%;
    height: 150px;
    margin: auto;
    width: 100%;
}
.textfield input{
    border: solid black 2px;
    margin-top: -3%;
    margin-bottom: 4%;
    margin-left: 20%;
    padding: 2%;
    width: 60%;
}
.title{
    font-size: x-large;
    height: 100px;
    margin: auto;
    padding-top: 4%;  
    text-align: center;
    width: 100%;
}
.week{
    height: 40px;
    margin: auto;
    width: 95%;
}
.week h4{
    color: rgba(110, 107, 107, 0.89);
    font-family: serif;
    text-align: center;
}



