*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.available button{
    border: none;
    margin: 0;
    padding: 0;

}
.calendar{
    background-color: white;
    height: 440px;
    width: 100%;
    margin: auto;
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 10%;


}
.container{
    margin: auto;
    width: 30%;
    height: 540px;
}

.currentDay{

    background-color: rgba(217, 153, 253, 0.87)!important;
}

.date{

    width: 78%;
    height: 50px;
    display: inline-block;
    float: left;
    margin: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(110, 107, 107, 0.89);
    margin-top: 3.5%;
}

.date h4{

    text-align: center;
}

.day{
    float: left;
    width: 10%;
    margin-left: 4%;
    padding-right: 2%;
}



.eachDay {

    display: inline-block;    
    width: 13.459%;
    height: 40px;
    border-radius: 10%;
    
}

.eachDay button{
    width: 100%;
    height: 38px;
    background-color: rgba(234, 248, 255, 0.911);
    border-radius: 10%;
    vertical-align: top;

}

.eachDay button:hover{
    cursor: pointer;
    background-color: rgb(95, 151, 255)!important;
    transition: background-color 0.3s;
}

.eachDay p{
    color: rgba(150, 150, 150, 0.856);
    display: inline-block;
    font-size:xx-small;
    text-align: start;
    padding-bottom: 30%;
    padding-right: 65%;
    position: relative;
}

.grid{
    width: 95%;
    margin: auto;
}

.highlight{

    background-color: greenyellow;
}
.left-nav button{
    background-image: url('/assets/images/left.png');
    width: 28px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 28px;
    float: left;
    display: inline-block;
    margin-top: 3%;
    margin-left: 2% ;
    margin-right: 2%;
    border: none;
    background-color: none;
    background-color: white;
    outline: none;
    

}

.left-nav button:hover{
    cursor: pointer;
    background-color: rgba(171, 220, 245, 0.911);
    transition: ease-in-out;
    transition-duration: .5s;
    border-radius: 15%;
    border: rgba(0, 170, 255, 0.911) 2px dashed;
}





.nav-bar{

    width: 100%;
    height: 60px;
    margin: auto;
    border-top: black solid 2px;
}

.nav-bar h2{
      text-align: center;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      color: rgba(110, 107, 107, 0.89);
     
    }

.prev, .next{
    border: none;
}

.prev button, .next button{
    opacity: 0.3;
    background-color: rgba(212, 211, 211, 0.863);
    border: none;
    margin: 0;
    padding: 0;
}

.right-nav button{
    background-image: url("/assets/images/right.png");
    width: 28px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 28px;
    float: left;
    display: inline-block;
    margin-top: 3%;
    margin-left: 2%;
    border: none;
    background-color: white;

    float: left;
    display: inline-block;
    outline: none;

    
}

.right-nav button:hover{
    cursor: pointer;
    background-color: rgba(171, 220, 245, 0.911);
    transition: ease-in-out;
    transition-duration: .5s;
    border-radius: 15%;
    border: rgba(0, 170, 255, 0.911) 2px dashed;
}

.textfield{
    width: 100%;
    height: 68px;
    margin: auto;
    border-radius: 10%;

}

.textfield input{

    width: 60%;
    padding: 2%;
    margin-top: 4.7%;
    margin-bottom: 4%;
    margin-left: 20%;
    border: solid black 2px;

}

.title{
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: x-large;
    padding-top: 4%;
    
}

.week{
    width: 95%;
    height: 40px;
    margin: auto;
}

.week h4{
    text-align: center;
    font-family: serif;
    color: rgba(110, 107, 107, 0.89);
}



